In [ ]:
import pandas as pd
import numpy as np

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
import nltk
nltk.download('all')

In [ ]:
data = pd.read_csv(r'C:\Users\dell\Task2output.csv',index_col = 0)
print(data.shape)
data.head()

In [ ]:
import nltk
nltk.download('stopwords')

In [ ]:
def letters_only(astr):
  return astr.isalpha()

lemmatizer = WordNetLemmatizer()

stop_words = set(stopwords.words('english'))
stop_words.add('resume')

In [ ]:
def clean_doc(docs):

  cleaned_doc = []
  for doc in docs:
    cleaned_doc.append(" ".join((lemmatizer.lemmatize(word)).lower()
                      for word in doc.split()
                      if letters_only(word) and
                                not word.lower() in stop_words))
    return cleaned_doc

In [42]:
text = data['Text']

In [43]:
clean_text = clean_doc(text)

In [46]:
len(clean_text)

1

In [47]:
text[0]

'Resume\xa0 \xa0Contact+60 112 696 5717 (Mobile)rajeevaravindnair@gmail.comwww.linkedin.com/in/rajeevaravindnair (LinkedIn)rajeevaravindnair.blogspot.in/(Blog)Top SkillsData Science & AnalyticsPythonPostgreSQLLanguagesEnglishMalayalamCertificationsMachine Learning (StandfordUniversity - Andrew Ng)Python Data Science Toolbox (Part2)ISTQB FoundationIntroduction to Data ScienceIntroduction to Git for Data Science.Honors-AwardsOUTSTANDING INVESTMENTSERVICES – RETAIL CLIENTSGEM Award, Q2 2009Rajeev Aravindakshan NairHiring in Bangalore! Java, ElasticSearch, GraphDB (Neo4J/JanusGraph), Devops (GCP).BengaluruSummaryAt the intersection of Data, Technology, Product & Innovation.ExperienceLifesight2 years 6 monthsHead of ProductsDecember 2019\xa0-\xa0Present\xa0(9 months)SingaporeSenior Product ManagerDecember 2018\xa0-\xa0November 2019\xa0(1 year)SingaporeProduct ManagerMarch 2018\xa0-\xa0December 2018\xa0(10 months)Kuala Lumpur, MalaysiaEbizuBusiness Intelligence AnalystSeptember 2017\xa0-\xa0February 2018\xa0(6 months)Kuala Lumpur, MalaysiaInfosys10 yearsTechnical Business Analyst (With Standard Chartered Global BusinessServices)January 2015\xa0-\xa0September 2017\xa0(2 years 9 months)Kuala Lumpur, MalaysiaConsultant - Project Delivery & Business Analysis.June 2010\xa0-\xa0December 2014\xa0(4 years 7 months)Chennai, Bangalore, Singapore, Malaysia.\xa0 Page 1 of 2mailto:rajeevaravindnair@gmail.comhttps://www.linkedin.com/in/rajeevaravindnair?jobid=1234&lipi=urn%3Ali%3Apage%3Ad_jobs_easyapply_pdfgenresume%3Bn5cGo%2FOlQ5SfVsihoSvkTA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_jobs_easyapply_pdfgenresume-v02_profilehttps://www.linkedin.com/in/rajeevaravindnair?jobid=1234&lipi=urn%3Ali%3Apage%3Ad_jobs_easyapply_pdfgenresume%3Bn5cGo%2FOlQ5SfVsihoSvkTA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_jobs_easyapply_pdfgenresume-v02_profilehttp://rajeevaravindnair.blogspot.in/http://rajeevaravindnair.blogspot.in/\xa0 \xa0Software Engineer (Finacle, Product Development, QA/QC )March 2008\xa0-\xa0May 2010\xa0(2 years 3 months)Chennai Area, IndiaSoftware Engineer - TraineeOctober 2007\xa0-\xa0March 2008\xa0(6 months)Mysuru Area, IndiaEducationBirla Institute of Technology and Science, PilaniMaster of Technology - MTech,\xa0Data Science & EngineeringWorldQuant UniversityMaster of Science - MS,\xa0Financial EngineeringIndian Institute of Management, CalcuttaExecutive Program for Young Managers,\xa0Business Administration andManagement, GeneralUniversity of CalicutBachelor of Technology - BTech,\xa0Electricals and ElectronicsEngineering\xa0·\xa0(2003\xa0-\xa02007)\xa0 Page 2 of 2'

In [48]:
clean_text[0]

'skillsdata science analyticspythonpostgresqllanguagesenglishmalayalamcertificationsmachine learning andrew data science toolbox foundationintroduction data scienceintroduction git data investmentservices retail clientsgem aravindakshan nairhiring graphdb devops intersection product year monthshead productsdecember present product managerdecember november managermarch december malaysiaebizubusiness intelligence analystseptember february yearstechnical business analyst standard chartered global september year malaysiaconsultant project delivery business december year page software engineer product may year indiasoftware engineer traineeoctober march indiaeducationbirla institute technology pilanimaster technology data science engineeringworldquant universitymaster science financial engineeringindian institute calcuttaexecutive program young business administration generaluniversity calicutbachelor technology electricals electronicsengineering page'

In [70]:
clean_data = pd.DataFrame(clean_text,columns = ['text'])

In [71]:
clean_data.to_csv('clean_data.csv')

In [72]:
data.head()

                                                Text
0  Resume   Contact+60 112 696 5717 (Mobile)rajee...
1  Resume   Contactwww.linkedin.com/in/syeda-dara...
2  Resume   Contactwww.linkedin.com/in/tukrishna(...
3  Resume   Contactbiswas.manali8@gmail.comwww.li...
4  Resume   Contactrahulakkenapally@gmail.comwww....

In [56]:
print(clean_text)

['skillsdata science analyticspythonpostgresqllanguagesenglishmalayalamcertificationsmachine learning andrew data science toolbox foundationintroduction data scienceintroduction git data investmentservices retail clientsgem aravindakshan nairhiring graphdb devops intersection product year monthshead productsdecember present product managerdecember november managermarch december malaysiaebizubusiness intelligence analystseptember february yearstechnical business analyst standard chartered global september year malaysiaconsultant project delivery business december year page software engineer product may year indiasoftware engineer traineeoctober march indiaeducationbirla institute technology pilanimaster technology data science engineeringworldquant universitymaster science financial engineeringindian institute calcuttaexecutive program young business administration generaluniversity calicutbachelor technology electricals electronicsengineering page']

In [58]:
len(text)

50

In [73]:
clean_data.head()

                                                text
0  skillsdata science analyticspythonpostgresqlla...
1  skillspython learninglanguagesurdu certified p...
2  skillspmpprogram managementproduct managementl...
3  structuresweb developmentlanguagesbengali web ...
4  skillsmicrosoft officeleadershipresearchrahul ...

In [75]:
clean_data.shape

(50, 1)